$color-1: rgb(63, 105, 184);
$color-2: rgb(122, 206, 240);
$color-3: rgb(98, 136, 158);

@import 'error/error';
@import 'loading/loading';
@import 'navigation/navigation';
@import 'products/products';
@import 'user/user';
@import 'login/login';


h1{
  color: $color-1;
}